h3{
    background-color: rgb(210, 211, 211);
    border: 5px;
    color: black;
    border-color: yellow;

}

p{
    background-image: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRanGMdAiUkWLoeuZR3-CYB3q-0GrvY5zMeyA&s');

    background-color: yellow;
    bord
}