h3{
    background-color: rgb(210, 211, 211);
    border: 5px;
    color: black;
    border-color: yellow;

}

p{
    background-image: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB2buHbt5m4sKg5RZ0nJ12RNHsgTX9AHNg4A&s');

    background-color: yellow;
}